body {
  background: linear-gradient(to bottom, #141955, #000000);
  color: #ffffff;
  font-family: Arial, sans-serif;
  justify-content: space-between;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-right: 20px;
}

.cat-image {
  max-width: 10%;
  height: auto;
  border-radius: 10px;
}

h2 {
  font-size: 24px;
  border-bottom: 2px solid #1e90ff;
  padding-bottom: 5px;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

iframe {
  margin-bottom: 20px;
  max-width: 80%;
  min-height: 40px;
}
